/* css grid */
.grid-container {
    display: grid;
    grid-gap: 0.5em;
}
.grid-container > div {
    text-align: center;
}
.header { 
    grid-area: 1 / span 12; 
    background-color: #9fa097ec;
    font-family: fantasy, verdana, helvetica, sans-serif;
}
.nav {
     grid-area: 2 / span 12;
     padding: 1.5em;
     margin: 0.5em;
     background-color: #23272A;
}
.main {
     grid-area: 3 / span 12 / 11;
}
.footer {
     grid-area: 15 / span 12;
     background-color: #23272A;
}
/* navigation links */
.nav a:link {
    text-decoration: none;
    font-size: 2em;
    padding: 0.3em;
    margin: 1.5em;
    font-weight: bold;
}
.nav a:visited {
    text-decoration: none;
}
/*footer links*/
.footer a:hover{
    background-color: #23272A;
    color: #23272A;
}
.footer a:active{
    background-color: #23272A;
    color: #23272A;
}
/* all links */
a:link{
    color: whitesmoke;
}
a:visited {
    color: whitesmoke;
}
a:hover {
    background-color: #d3d3d37e;
}
a:active{
    color: #d3d3d3;
}
a:focus{
    background-color: #2C2F31;
}
/* footer */
.footer-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
    margin: 0.25em;
    padding: 0.25em;
    text-align: left;
}
/* main stuff */
body{
    margin:0;
    background-color:  #2C2F31;
    color: whitesmoke;
    font-family: fantasy, verdana, helvetica, sans-serif;
}
/* split main flexbox*/
.split{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: stretch;
    margin:0.25em;
    padding: 0.25em;
}
/*nyhetsflödet*/
.news{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    padding:2em;
}
/*Main content*/
.content{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    padding: 1.5em;

}
.split section {
    text-align: left;
    width:50%;
}
.news section {
    text-align: left;
    width:90%;
}
/* Mobila förändring för hela sidan, först ipad, sen mobil. */
@media only screen and (max-width:768px) {
    [class*="split"] {
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
    .split section {
        width: 80%;
    }
}
[class*="nav"] {
    font-size: 70%;
    grid-area: 2 / 1 / 3 / 12 span;
    
}
[class*="main"] {
    grid-area: 3 / 2 / 3 / 12;
}

@media only screen and (max-width:414px) {
    [class*="split"]  {
        width: 90%;
    }
    [class*="footer-flex"] {
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
    }
    .content iframe{
        width: 100%;
    }
    [class*="footer"] {
        width: 98%;
    }
   /* [class*="nav"] {

    }*/
    [class*="nav"] {
        font-size: 60%;
        grid-area: 2 / 5 / 2 / 9;
        
    }
    [class*="main"] {
        grid-area: 3 / 2 / 3 / 12;
    }
}
/*galleriet*/
.gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows:  repeat(16, 5vw);
    justify-content: center;
}
.gallery-item1 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
}
.gallery-item2 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 4;
}
.gallery-item3 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 8;
}
.gallery-item4 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 8;
}
.gallery-item5 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 9;
    grid-row-end: 12;
}
.gallery-item6 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 9;
    grid-row-end: 12;
}
.gallery-item7 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 13;
    grid-row-end: 16;
}
.gallery-item8 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 13;
    grid-row-end: 16;
}
/* Forms */
textarea {
    resize: none;
}