/* css grid */
.grid-container {
    display: grid;
    grid-gap: 0.5em;
    /*padding: 0.5em;*/
}
.grid-container > div {
    text-align: center;

}
.header { 
    grid-area: 1 / span 12; 
    background-color: blue;
}
.nav {
     grid-area: 2 / span 12; 
}
.main {
     grid-area: 3 / span 12 / 11;
}
.footer {
     grid-area: 15 / span 12;
     background-color: gray;
}
/* style */
body {
    background-color: #fff;
    color: black;
}
/* navigation links */
.nav a:link {
    text-decoration: none;
}
.nav a:visited {
    color: black;
    text-decoration: none;
}
/* all links */
a:hover {
    background-color: #d3d3d3;
}
a:active{
    color: gray;
}
/* footer */
.footer-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
    margin: 0.25em;
    padding: 0.25em;
    text-align: left;
}
.footer-flex a:hover {
    background-color: grey;
}
/* main stuff */
body{
    margin:0;
}
/* split main flexbox*/
.split{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: stretch;
    margin:0.25em;
    padding: 0.25em;
}
/*nyhetsflödet*/
.news{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
}
/*Main content*/
.content{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;

}
.split section {
    text-align: left;
    width:50%;
}
.news section {
    text-align: left;
    width:90%;
}
/* Mobila förändring för hela sidan, först ipad, sen mobil. */
@media only screen and (max-width:768px) {
    [class*="split"] {
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
    .split section {
        width: 80%;
    }
}
@media only screen and (max-width:414px) {
    [class*="split"]  {
        width: 90%;
    }
    [class*="footer-flex"] {
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
    }
    .content iframe{
        width: 100%;
    }
    [class*="footer"] {
        width: 98%;
    }
}